[submodule "hemanthx"]
	path = hemanthx
	url = https://github.com/hemanth103/hello-whale.git
[submodule "papa"]
	path = papa
	url = https://github.com/hemanth103/iac.git
[submodule "zzz"]
	path = zzz
	url = https://gitlab.com/ulashi.gopal/tf-to-azure.git
